/* //////////////// ####/
// TODO:
- bibliography
- animation of smooth circles on cover page
- change background colour between chapters
- d3 network graph
- blue dot smaller on scroll; becomes bigger when scrolling stopped for 1-2sec
- flashing matrix letters underneath
- max image width 100vw

- fix image stretching
*/ //////////////// ####/

$extra-small: 0.7em;

$small: 1em;
$medium: 1.5em;
$large: 2em;
$x-large: 3em;

$sans-font: "Agipo Regular";
$serif-font: "Bradford LL";

$title-special-font: "Redaction 50";

$clr-caption: #848484;
$clr-blue: #0719a2;
$clr-blue-dark: #000a30;
$clr-blue-opacity: rgba(7, 25, 162, 0.4);
$clr-grey: hsl(0, 0%, 98%);

$clr-highlight: rgb(255, 255, 255);

$flow-space: 1rem;

/* ////////////// TYPEFACES //////////////*/

@font-face {
  font-family: "Agipo Regular";
  src: url("fonts/Agipo-Regular.woff2") format("woff2"),
    url("fonts/Agipo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agipo";
  src: url("fonts/Agipo-Italic.woff2") format("woff2"),
    url("fonts/Agipo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Agipo";
  src: url("fonts/Agipo-Bold.woff2") format("woff2"),
    url("fonts/Agipo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("fonts/BradfordLL-Regular.woff2") format("woff2"),
    url("fonts/BradfordLL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("fonts/BradfordLL-Bold.woff2") format("woff2"),
    url("fonts/BradfordLL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("fonts/BradfordLL-Italic.woff2") format("woff2"),
    url("fonts/BradfordLL-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 10";
  src: url("fonts/Redaction10-Bold.woff2") format("woff2"),
    url("fonts/Redaction10-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 10";
  src: url("fonts/Redaction10-Regular.woff2") format("woff2"),
    url("fonts/Redaction10-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 100";
  src: url("fonts/Redaction100-Regular.woff2") format("woff2"),
    url("fonts/Redaction100-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 20";
  src: url("fonts/Redaction20-Bold.woff2") format("woff2"),
    url("fonts/Redaction20-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 100";
  src: url("fonts/Redaction100-Bold.woff2") format("woff2"),
    url("fonts/Redaction100-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 70";
  src: url("fonts/Redaction70-Bold.woff2") format("woff2"),
    url("fonts/Redaction70-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 35";
  src: url("fonts/Redaction35-Regular.woff2") format("woff2"),
    url("fonts/Redaction35-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: url("fonts/Redaction50-Regular.woff2") format("woff2"),
    url("fonts/Redaction50-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: url("fonts/Redaction50-Bold.woff2") format("woff2"),
    url("fonts/Redaction50-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 10";
  src: url("fonts/Redaction10-Italic.woff2") format("woff2"),
    url("fonts/Redaction10-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 20";
  src: url("fonts/Redaction20-Italic.woff2") format("woff2"),
    url("fonts/Redaction20-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 70";
  src: url("fonts/Redaction70-Italic.woff2") format("woff2"),
    url("fonts/Redaction70-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 100";
  src: url("fonts/Redaction100-Italic.woff2") format("woff2"),
    url("fonts/Redaction100-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 20";
  src: url("fonts/Redaction20-Regular.woff2") format("woff2"),
    url("fonts/Redaction20-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 35";
  src: url("fonts/Redaction35-Bold.woff2") format("woff2"),
    url("fonts/Redaction35-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 35";
  src: url("fonts/Redaction35-Italic.woff2") format("woff2"),
    url("fonts/Redaction35-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: url("fonts/Redaction50-Italic.woff2") format("woff2"),
    url("fonts/Redaction50-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 70";
  src: url("fonts/Redaction70-Regular.woff2") format("woff2"),
    url("fonts/Redaction70-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ////////////// CSS STRUCTURE //////////////*/

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  width: 100%;
  height: 100%;
}

.TOC-button {
  position: fixed;
  left: 0;
  top: 0;
  width: $flow-space * 2;
  height: $flow-space * 2;
  background-color: $clr-blue;
  border-radius: 50%;
  transition: 0.5s background-color ease-in-out;
}

html {
  line-height: 1.5;
  font-family: $sans-font, sans-serif;
  font-size: 22px;
  cursor: crosshair;
}

::selection {
  background: $clr-blue; /* WebKit/Blink Browsers */
  color: $clr-highlight;
}

body {
  counter-reset: item;
  hyphens: auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  font-kerning: normal;

  overflow-x: hidden;

  transition: background-color 0.5s ease-in-out;

  &.dark-mood {
    background-color: $clr-blue-dark;

    .TOC-button {
      background-color: white;
    }

    .container--text-flow section:not(.mode--dark) {
      opacity: 0;
    }

    .mode--dark {
      color: $clr-highlight;
      figcaption,
      figcaption > p {
        color: $clr-highlight;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      p,
      sup,
      a,
      .section__endnotes,
      li > p,
      li,
      ul,
      ol {
        color: $clr-highlight;
      }

      .section__endnotes {
        background-color: $clr-blue-opacity;
      }

      .section__endnotes p:before {
        color: $clr-highlight;
      }

      .callout {
        border: 1px solid white;
      }
    }
  }
}

sup {
  font-weight: 300;
}

.textflow-container {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr minmax(1rem, 35rem) 1fr;
}

.table-of-contents {
  text-align: center;
  font-family: $sans-font;
  line-height: 1;
  min-width: 100vw;
  min-height: 100vh;

  align-items: center;
  justify-content: center;

  // background-color: $clr-blue;
  background: linear-gradient(
    180deg,
    $clr-blue-dark 0%,
    $clr-blue-dark 80%,
    $clr-blue 100%
  );
  background-attachment: fixed;

  h2 {
    font-size: 2em;
    font-family: $serif-font;
  }

  h3 {
    font-size: 2em;
    font-family: $serif-font;
    margin-bottom: 0.5em;
  }

  a {
    text-decoration: none;
  }

  li + li {
    margin-top: 1em;
  }

  .numeral {
    font-family: $serif-font;
  }

  .grid-toc {
    padding: $flow-space;
    display: grid;
    min-width: 100vw;
    min-height: 100vh;
    grid-template-rows: repeat(max-content);
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas:
      "header-1 header-1 header-1"
      "header-2 header-2 header-2"
      "main-left main-middle main-right"
      "footer-1 footer-1 footer-1"
      "footer-2 footer-2 footer-2"
      "footer-3 footer-3 footer-3";

    justify-items: stretch;
    text-align: center;
    align-items: top;

    color: white;

    .grid-section {
      border: 1px solid $clr-highlight;
      padding: $flow-space;
      font-size: $extra-small;

      h2,
      h3 {
        padding: 0;
        margin: 0;
      }

      h3 + ol {
        margin-top: $flow-space;
      }

      a {
        color: white;
      }
      p + p {
        margin-top: 0.5em;
      }

      a:hover {
        background-color: $clr-blue;
        color: $clr-highlight;
      }
    }

    .section-1 {
      grid-area: header-1;
      border: 0;

      h2 {
        font-family: $sans-font;
        font-weight: 300;
        margin: $flow-space 0;
      }
    }

    .section-2 {
      grid-area: header-2;
      place-self: center stretch;
    }

    .section-3 {
      grid-area: main-left;
    }

    .section-4 {
      grid-area: main-middle;
    }

    .section-5 {
      grid-area: main-right;
    }

    .section-6 {
      grid-area: footer-1;
    }

    .section-7 {
      grid-area: footer-2;
    }

    .section-8 {
      grid-area: footer-3;
    }
  }
}

.slide.cover {
  padding: 2 * $flow-space;
  width: 100%;
  height: 100vh;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // change these numbers up and get a cool effect
  background: radial-gradient(
    circle at 150%,
    rgb(6, 9, 97),
    $clr-blue-dark 50%,
    $clr-blue 55%,
    $clr-blue-dark 75%
  );
  overflow: hidden;
  h1 {
    font-size: 4rem;
    font-family: $title-special-font;
    font-weight: 300;
    text-align: center;
    color: $clr-highlight;
    letter-spacing: -0.03em;
    line-height: 1.1;
    padding: $flow-space * 2;
  }
}

.container--text-flow {
  grid-column: 2;

  h1 {
    font-family: $title-special-font;
    font-weight: 700;
    font-size: $x-large;
    letter-spacing: -0.03em;
    line-height: 1.05;
    margin: $flow-space * 5 0;
    text-align: center;
  }

  h2,
  h3 {
    font-family: $sans-font;
    font-weight: 700;
    font-size: $large;
    letter-spacing: -0.03em;
    line-height: 1.05;
    margin: $flow-space * 7 0 $flow-space * 2 0;
  }

  h3 {
    font-family: $serif-font;
    font-weight: 500;
  }

  h4 {
    font-size: $medium;
    font-family: $sans-font;
    font-weight: 700;
    line-height: 1.05;
  }

  section {
    transition: opacity 0.5s ease-in-out;
    height: fit-content;

    margin-top: $flow-space * 3;

    &:last-of-type {
      margin-bottom: $flow-space * 3;
    }

    p,
    h1,
    h2,
    h3,
    h4,
    li,
    a {
      color: $clr-blue-dark;
    }

    sup {
      color: $clr-blue;
    }

    blockquote p {
      color: $clr-blue-dark;
    }
  }

  strong {
    font-family: $sans-font, serif;
    font-weight: 700;
    color: $clr-blue;
  }

  em {
    font-family: $serif-font, serif;
    font-weight: 300;
    font-style: italic;
  }

  .label {
    font-family: $serif-font;
    font-weight: 300;
  }

  blockquote {
    border-left: 2px solid $clr-blue;
    padding-left: $flow-space;
    font-family: $sans-font;
    margin: $flow-space 0;
    margin-left: 0.11rem;
    // font-style: italic;
  }

  .section__endnotes {
    margin: $flow-space * 2 0;
    font-size: $extra-small;
    list-style: none;
    background-color: $clr-grey;
    padding: $flow-space * 2;
    border-radius: 0.3rem;

    transition: 0.5s background-color ease-in-out;

    // display: flex;
    // flex-wrap: wrap;
    // align-items: baseline;
    // justify-content: flex-start;

    a {
      opacity: 1;
    }

    li {
      transition: 0.4s filter, 0.2s opacity;

      padding-left: $flow-space * 2;
      text-indent: -$flow-space;

      &:hover {
        opacity: 1;
      }

      & > p {
        color: $clr-blue;
      }

      .footnote-back {
        opacity: 1;
        font-style: strong;
        font-weight: 900;
      }
    }

    li + li {
      margin-top: 0.5em;
    }

    li p:before {
      counter-increment: item;
      content: counter(item) ".";

      font-size: $small * 0.8;
      font-family: $sans-font, sans-serif;
      font-weight: bold;
      letter-spacing: 0em;

      width: 1.5em;
      height: 1.5em;

      display: inline-flex;
      align-items: center;
      justify-content: center;

      border-radius: 50%;
      color: $clr-blue;
    }
  }

  .footnote-ref {
    text-decoration: none;

    sup {
      vertical-align: super;
      font-size: $extra-small;
      font-family: $sans-font, sans-serif;
      font-weight: 700;
      letter-spacing: -0.03em;
      font-style: normal;
      margin-left: 0.1em;
    }
  }

  figure {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: $flow-space * 5 0;

    img {
      filter: blur(1.2em);

      min-width: 40vw;
      max-height: 90vh;
      max-width: 35rem;
      opacity: 0.4;

      transition: 0.6s filter ease-in-out, 0.7s opacity ease-in-out;

      &:hover {
        filter: blur(0);
      }

      &.unblur {
        filter: none;
        opacity: 1;
      }

      &.img--sublime {
        box-shadow: inset 0 0 50px #fff,
          /* inner white */ inset 20px 0 80px $clr-blue,
          /* inner left magenta short */ inset -20px 0 80px $clr-blue,
          /* inner right cyan short */ inset 20px 0 100px rgb(255, 255, 255),
          /* inner left magenta broad */ inset -20px 0 100px $clr-blue,
          /* outer white */ -10px 0 80px rgb(2, 30, 119),
          /* outer left magenta */ 10px 0 80px $clr-blue; /* outer right cyan */
      }

      &.img--news {
        border-radius: 1rem;
        box-shadow: 27px 27px 63px #d7d6d9, -27px -27px 63px #ffffff;

        // TODO: add full-width grey
      }
    }

    figcaption {
      font-size: $extra-small;
      color: $clr-blue;
      line-height: 1.5;
      font-family: $sans-font;
      text-align: center;
      margin-top: $flow-space * 2;
    }
  }

  .callout {
    margin: $flow-space 0;
    padding: $flow-space * 2;
    border: 2px solid $clr-blue;

    h2 {
      margin-top: 0;
    }

    ul {
      margin-top: $flow-space;

      li {
        font-family: $serif-font;
        font-weight: 300;
        line-height: 1.2;
      }

      li + li {
        margin-top: $flow-space;
      }
    }

    &.dark {
      background-color: $clr-blue;

      p {
        color: $clr-highlight;
        font-family: $sans-font;
      }
    }
  }

  p + p {
    margin-top: $flow-space;
  }

  a:visited {
    color: $clr-highlight;
  }

  img {
  }
}

@media screen and (orientation: portrait) {
  .table-of-contents {
    .grid-toc {
      display: grid;
      grid-template-rows: auto;
      grid-template-columns: auto;
      grid-template-areas:
        "header-1"
        "header-2"
        "main-left"
        "main-middle"
        "main-right"
        "footer-1"
        "footer-2"
        "footer-3";

      .grid-section {
        font-size: $small;
      }
    }
  }

  .container--text-flow {
    figure {
      img {
        max-width: 100%;
      }
    }
  }

  .container--text-flow {
    padding: 0 $flow-space;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 20px;
  }
  .container--text-flow {
    padding: 0 $flow-space;

    img {
      max-width: 100%;
      height: auto;
      position: relative;
    }
  }
}
