/* //////////////// ####/
// TODO:
- bibliography
- animation of smooth circles on cover page
- change background colour between chapters
- d3 network graph
- blue dot smaller on scroll; becomes bigger when scrolling stopped for 1-2sec
- flashing matrix letters underneath
- max image width 100vw

- fix image stretching
*/
/* ////////////// TYPEFACES //////////////*/
@font-face {
  font-family: "Agipo Regular";
  src: url("fonts/Agipo-Regular.woff2") format("woff2"), url("fonts/Agipo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Agipo";
  src: url("fonts/Agipo-Italic.woff2") format("woff2"), url("fonts/Agipo-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Agipo";
  src: url("fonts/Agipo-Bold.woff2") format("woff2"), url("fonts/Agipo-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("fonts/BradfordLL-Regular.woff2") format("woff2"), url("fonts/BradfordLL-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("fonts/BradfordLL-Bold.woff2") format("woff2"), url("fonts/BradfordLL-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Bradford LL";
  src: url("fonts/BradfordLL-Italic.woff2") format("woff2"), url("fonts/BradfordLL-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 10";
  src: url("fonts/Redaction10-Bold.woff2") format("woff2"), url("fonts/Redaction10-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 10";
  src: url("fonts/Redaction10-Regular.woff2") format("woff2"), url("fonts/Redaction10-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 100";
  src: url("fonts/Redaction100-Regular.woff2") format("woff2"), url("fonts/Redaction100-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 20";
  src: url("fonts/Redaction20-Bold.woff2") format("woff2"), url("fonts/Redaction20-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 100";
  src: url("fonts/Redaction100-Bold.woff2") format("woff2"), url("fonts/Redaction100-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 70";
  src: url("fonts/Redaction70-Bold.woff2") format("woff2"), url("fonts/Redaction70-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 35";
  src: url("fonts/Redaction35-Regular.woff2") format("woff2"), url("fonts/Redaction35-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: url("fonts/Redaction50-Regular.woff2") format("woff2"), url("fonts/Redaction50-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: url("fonts/Redaction50-Bold.woff2") format("woff2"), url("fonts/Redaction50-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 10";
  src: url("fonts/Redaction10-Italic.woff2") format("woff2"), url("fonts/Redaction10-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 20";
  src: url("fonts/Redaction20-Italic.woff2") format("woff2"), url("fonts/Redaction20-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 70";
  src: url("fonts/Redaction70-Italic.woff2") format("woff2"), url("fonts/Redaction70-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 100";
  src: url("fonts/Redaction100-Italic.woff2") format("woff2"), url("fonts/Redaction100-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 20";
  src: url("fonts/Redaction20-Regular.woff2") format("woff2"), url("fonts/Redaction20-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 35";
  src: url("fonts/Redaction35-Bold.woff2") format("woff2"), url("fonts/Redaction35-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 35";
  src: url("fonts/Redaction35-Italic.woff2") format("woff2"), url("fonts/Redaction35-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 50";
  src: url("fonts/Redaction50-Italic.woff2") format("woff2"), url("fonts/Redaction50-Italic.woff") format("woff");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "Redaction 70";
  src: url("fonts/Redaction70-Regular.woff2") format("woff2"), url("fonts/Redaction70-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ////////////// CSS STRUCTURE //////////////*/
* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}

body,
html {
  width: 100%;
  height: 100%;
}

.TOC-button {
  position: fixed;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  left: 0.3rem;
  top: 0.3rem;
  height: 2rem;
  background-color: white;
  border-radius: 1rem;
  padding: 0 1rem;
  color: #0719a2;
  transition: 0.5s background-color ease-in-out;
  overflow: hidden;
  text-overflow: ellipsis;
  box-shadow: 27px 27px 63px #d7d6d9, -27px -27px 63px #ffffff74;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
}

.TOC-button p {
  width: 100%;
  text-overflow: ellipsis;
  transition: 0.5s color ease-in-out;
}

.TOC-button.no-box {
  box-shadow: none;
  opacity: 0;
}

.TOC-button:hover {
  background-color: #0719a2;
  color: white;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.TOC-button:hover::after {
  content: "TOC";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  background-color: #0719a2;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.TOC-button .progress-shape {
  transition: 0.5s color ease-in-out;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  mix-blend-mode: hard-light;
}

html {
  line-height: 1.5;
  font-family: "Agipo Regular", sans-serif;
  font-size: 22px;
  cursor: crosshair;
}

::-moz-selection {
  background: #0719a2;
  /* WebKit/Blink Browsers */
  color: white;
}

::selection {
  background: #0719a2;
  /* WebKit/Blink Browsers */
  color: white;
}

body {
  counter-reset: item;
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  word-wrap: break-word;
  text-rendering: optimizeLegibility;
  -moz-font-kerning: normal;
       font-kerning: normal;
  overflow-x: hidden;
  transition: background-color 0.5s ease-in-out;
}

body.dark-mood {
  background-color: #000a30;
}

body.dark-mood .TOC-button {
  left: 0.3rem;
  top: 0.3rem;
  height: 2rem;
  background-color: #0719a2;
  color: white;
  overflow: hidden;
  box-shadow: none;
  opacity: 1;
}

body.dark-mood .TOC-button p {
  width: 100%;
  text-overflow: ellipsis;
}

body.dark-mood .TOC-button:hover {
  background-color: white;
  color: #0719a2;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

body.dark-mood .TOC-button:hover::after {
  content: "TOC";
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  position: absolute;
  background-color: white;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

body.dark-mood .TOC-button .progress-shape {
  background-color: #000a30;
}

body.dark-mood .container--text-flow section:not(.mode--dark) {
  opacity: 0;
}

body.dark-mood .mode--dark {
  color: white;
}

body.dark-mood .mode--dark figcaption,
body.dark-mood .mode--dark figcaption > p {
  color: white;
}

body.dark-mood .mode--dark h1,
body.dark-mood .mode--dark h2,
body.dark-mood .mode--dark h3,
body.dark-mood .mode--dark h4,
body.dark-mood .mode--dark h5,
body.dark-mood .mode--dark h6,
body.dark-mood .mode--dark p,
body.dark-mood .mode--dark sup,
body.dark-mood .mode--dark a,
body.dark-mood .mode--dark .section__endnotes,
body.dark-mood .mode--dark li > p,
body.dark-mood .mode--dark li,
body.dark-mood .mode--dark ul,
body.dark-mood .mode--dark ol {
  color: white;
}

body.dark-mood .mode--dark .section__endnotes {
  background-color: rgba(7, 25, 162, 0.4);
}

body.dark-mood .mode--dark .section__endnotes p:before {
  color: white;
}

body.dark-mood .mode--dark .callout {
  border: 1px solid white;
}

sup {
  font-weight: 300;
}

.textflow-container {
  display: grid;
  width: 100%;
  margin: auto;
  grid-template-columns: 1fr minmax(1rem, 35rem) 1fr;
}

.table-of-contents {
  text-align: center;
  font-family: "Agipo Regular";
  line-height: 1;
  min-width: 100vw;
  min-height: 100vh;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  background: linear-gradient(180deg, #000a30 0%, #000a30 80%, #0719a2 100%);
  background-attachment: fixed;
}

.table-of-contents h2 {
  font-size: 2em;
  font-family: "Bradford LL";
}

.table-of-contents h3 {
  font-size: 2em;
  font-family: "Bradford LL";
  margin-bottom: 0.5em;
}

.table-of-contents a {
  text-decoration: none;
}

.table-of-contents li + li {
  margin-top: 1em;
}

.table-of-contents .numeral {
  font-family: "Bradford LL";
}

.table-of-contents .grid-toc {
  padding: 1rem;
  display: grid;
  min-width: 100vw;
  min-height: 100vh;
  grid-template-rows: repeat(max-content);
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "header-1 header-1 header-1" "header-2 header-2 header-2" "main-left main-middle main-right" "footer-1 footer-1 footer-1" "footer-2 footer-2 footer-2" "footer-3 footer-3 footer-3";
  justify-items: stretch;
  text-align: center;
  -ms-flex-align: top;
      align-items: top;
  color: white;
}

.table-of-contents .grid-toc .grid-section {
  border: 1px solid white;
  padding: 1rem;
  font-size: 1em;
}

.table-of-contents .grid-toc .grid-section h2,
.table-of-contents .grid-toc .grid-section h3 {
  padding: 0;
  margin: 0;
}

.table-of-contents .grid-toc .grid-section h3 + ol {
  margin-top: 1rem;
}

.table-of-contents .grid-toc .grid-section a {
  color: white;
}

.table-of-contents .grid-toc .grid-section p + p {
  margin-top: 0.5em;
}

.table-of-contents .grid-toc .grid-section a:hover {
  background-color: #0719a2;
  color: white;
}

.table-of-contents .grid-toc .section-1 {
  grid-area: header-1;
  border: 0;
}

.table-of-contents .grid-toc .section-1 h2 {
  font-family: "Agipo Regular";
  font-weight: 300;
  margin: 1rem 0;
}

.table-of-contents .grid-toc .section-2 {
  grid-area: header-2;
  place-self: center stretch;
}

.table-of-contents .grid-toc .section-3 {
  grid-area: main-left;
}

.table-of-contents .grid-toc .section-4 {
  grid-area: main-middle;
}

.table-of-contents .grid-toc .section-5 {
  grid-area: main-right;
}

.table-of-contents .grid-toc .section-6 {
  grid-area: footer-1;
}

.table-of-contents .grid-toc .section-7 {
  grid-area: footer-2;
}

.table-of-contents .grid-toc .section-8 {
  grid-area: footer-3;
}

.slide.cover {
  padding: 2rem;
  width: 100%;
  height: 100vh;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  color: white;
  background: radial-gradient(circle at 150%, #060961, #000a30 50%, #0719a2 55%, #000a30 75%);
  overflow: hidden;
}

.slide.cover h1 {
  font-size: 4rem;
  font-family: "Redaction 50";
  font-weight: 300;
  text-align: center;
  color: white;
  letter-spacing: -0.03em;
  line-height: 1.1;
  padding: 2rem;
}

.container--text-flow {
  grid-column: 2;
}

.container--text-flow a:visited {
  color: #0719a2;
}

.container--text-flow h1 {
  font-family: "Redaction 50";
  font-weight: 700;
  font-size: 3em;
  letter-spacing: -0.03em;
  line-height: 1.05;
  margin: 5rem 0;
  text-align: center;
}

.container--text-flow h2,
.container--text-flow h3 {
  font-family: "Agipo Regular";
  font-weight: 700;
  font-size: 2em;
  letter-spacing: -0.03em;
  line-height: 1.05;
  margin: 7rem 0 2rem 0;
}

.container--text-flow h3 {
  font-family: "Bradford LL";
  font-weight: 500;
}

.container--text-flow h4 {
  font-size: 1.5em;
  font-family: "Agipo Regular";
  font-weight: 700;
  line-height: 1.05;
}

.container--text-flow section {
  transition: opacity 0.5s ease-in-out;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 3rem;
}

.container--text-flow section:last-of-type {
  margin-bottom: 10rem;
  padding-bottom: 2rem;
}

.container--text-flow section:last-of-type .callout {
  margin-bottom: 10rem;
}

.container--text-flow section:last-of-type p {
  text-align: center;
}

.container--text-flow section p,
.container--text-flow section h1,
.container--text-flow section h2,
.container--text-flow section h3,
.container--text-flow section h4,
.container--text-flow section li,
.container--text-flow section a {
  color: #000a30;
}

.container--text-flow section sup {
  color: #0719a2;
}

.container--text-flow section blockquote p {
  color: #000a30;
}

.container--text-flow strong {
  font-family: "Agipo Regular", serif;
  font-weight: 700;
  color: #0719a2;
}

.container--text-flow em {
  font-family: "Bradford LL", serif;
  font-weight: 300;
  font-style: italic;
}

.container--text-flow .label {
  font-family: "Bradford LL";
  font-weight: 300;
}

.container--text-flow blockquote {
  border-left: 2px solid #0719a2;
  padding-left: 1rem;
  font-family: "Agipo Regular";
  margin: 1rem 0;
  margin-left: 0.11rem;
}

.container--text-flow .section__endnotes {
  margin: 2rem 0;
  font-size: 0.7em;
  list-style: none;
  background-color: #fafafa;
  padding: 2rem;
  border-radius: 0.3rem;
  transition: 0.5s background-color ease-in-out;
}

.container--text-flow .section__endnotes a {
  opacity: 1;
}

.container--text-flow .section__endnotes li {
  transition: 0.4s filter, 0.2s opacity;
  padding-left: 2rem;
  text-indent: -1rem;
}

.container--text-flow .section__endnotes li:hover {
  opacity: 1;
}

.container--text-flow .section__endnotes li > p {
  color: #0719a2;
}

.container--text-flow .section__endnotes li .footnote-back {
  opacity: 1;
  font-style: strong;
  font-weight: 900;
}

.container--text-flow .section__endnotes li + li {
  margin-top: 0.5em;
}

.container--text-flow .section__endnotes li p:before {
  counter-increment: item;
  content: counter(item) ".";
  font-size: 0.8em;
  font-family: "Agipo Regular", sans-serif;
  font-weight: bold;
  letter-spacing: 0em;
  width: 1.5em;
  height: 1.5em;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
  border-radius: 50%;
  color: #0719a2;
}

.container--text-flow .footnote-ref {
  text-decoration: none;
}

.container--text-flow .footnote-ref sup {
  vertical-align: super;
  font-size: 0.7em;
  font-family: "Agipo Regular", sans-serif;
  font-weight: 700;
  letter-spacing: -0.03em;
  font-style: normal;
  margin-left: 0.1em;
}

.container--text-flow figure {
  left: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  margin: 5rem 0;
}

.container--text-flow figure img {
  filter: blur(1.2em);
  min-width: 40vw;
  max-height: 90vh;
  max-width: 35rem;
  opacity: 0.4;
  transition: 0.6s filter ease-in-out, 0.7s opacity ease-in-out;
}

.container--text-flow figure img:hover {
  filter: blur(0);
}

.container--text-flow figure img.unblur {
  filter: none;
  opacity: 1;
}

.container--text-flow figure img.img--sublime {
  box-shadow: inset 0 0 50px #fff, inset 20px 0 80px #0719a2, inset -20px 0 80px #0719a2, inset 20px 0 100px white, inset -20px 0 100px #0719a2, -10px 0 80px #021e77, 10px 0 80px #0719a2;
  /* outer right cyan */
}

.container--text-flow figure img.img--news {
  border-radius: 1rem;
  box-shadow: 27px 27px 63px #d7d6d9, -27px -27px 63px #ffffff;
}

.container--text-flow figure figcaption {
  font-size: 0.7em;
  color: #0719a2;
  line-height: 1.5;
  font-family: "Agipo Regular";
  text-align: center;
  margin-top: 2rem;
}

.container--text-flow figure figcaption a {
  color: #0719a2;
}

.container--text-flow .callout {
  margin: 1rem 0;
  padding: 2rem;
  border: 2px solid #0719a2;
}

.container--text-flow .callout h2 {
  margin-top: 0;
}

.container--text-flow .callout ul {
  margin-top: 1rem;
}

.container--text-flow .callout ul li {
  font-family: "Bradford LL";
  font-weight: 300;
  line-height: 1.2;
}

.container--text-flow .callout ul li + li {
  margin-top: 1rem;
}

.container--text-flow .callout.dark {
  background-color: #0719a2;
}

.container--text-flow .callout.dark p {
  color: white;
  font-family: "Agipo Regular";
}

.container--text-flow p + p {
  margin-top: 1rem;
}

@media screen and (orientation: portrait) {
  .table-of-contents .grid-toc {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    grid-template-areas: "header-1" "header-2" "main-left" "main-middle" "main-right" "footer-1" "footer-2" "footer-3";
  }
  .table-of-contents .grid-toc .grid-section {
    font-size: 1em;
  }
  .container--text-flow figure img {
    max-width: 100%;
  }
  .container--text-flow {
    padding: 0 1rem;
  }
}

@media only screen and (max-width: 600px) {
  html {
    font-size: 20px;
  }
  .container--text-flow {
    padding: 0 1rem;
  }
  .container--text-flow img {
    max-width: 100%;
    height: auto;
    position: relative;
  }
}
